
vllm==0.10.0


fastapi==0.116.1
uvicorn==0.35.0


transformers==4.53.3
huggingface-hub==0.34.0
datasets==4.0.0
tokenizers==0.21.2


outlines-core==0.2.10
lm-format-enforcer==0.10.11
llguidance==0.7.30


numpy==2.2.6
pandas==2.3.1

prometheus-fastapi-instrumentator==7.1.0
sentry-sdk==2.33.2
python-dotenv==1.1.1
pyyaml==6.0.2

httpx==0.28.1